<h1>Welcome back <%= user.username %>, </h1>
<br>
<ul>
	<li><a href="/admin/users"><span class="carret-right" ></span> Users</a>
		<li><a href="/admin/posts"><span class="carret-right" ></span> Posts</a>
</ul>