<%- include('../partials/hero/profile', { user }) %>

<section class="section">
  <div class="container">
    <h1 class="title">
      Your Profile
    </h1>

    <%- include('../user/show', { user, onProfile: true } ) %>
    
  </div>
</section>