<%- include('../partials/hero/profile') %>

<section class="section">
  <div class="container">
    <h1 class="title">
      Your Profile
    </h1>

    <%- include('../user/show', { user, onProfile: true } ) %>

    <br><br>
    <h1 class="title">
      Your Posts
    </h1>
    <p><a href='/profile/posts/<%= user._id %>'>My Posts</a></p>
  </div>
</section>