
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="title">
            Iron Helper Center
          </p>
          <p class="subtitle">
            This is your space where you can do a few things.
            <br>
            You can basically <strong>edit your profile</strong> and <strong>manage your posts</strong>!
          </p>
        </div>
         <div class="column is-narrow">
          <div id="carbon" class="box">
            <img style="display: block;" src="/images/ironhelp-initials.png" height="50" alt="Iron Help">
          </div>
        </div> 
      </div>
    </div>
  </div>  
</section>

<section class="section">
  <div class="container">
    <h1 class="title">
      Your Profile
    </h1>

    <%- include('../user/show', { user, onProfile: true } ) %>

    <br><br>
    <h1 class="title">
      Your Posts
    </h1>
    <p><a href='/profile/posts/<%= user._id %>'>My Posts</a></p>
  </div>
</section>