<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="title">
            <%=post.tool.name%>
          </p>
          <p class="subtitle">
            Working together as a community to build the best reference material for developer tools on the internet.
            <br>
            <strong>Choose a tool that's f-ing with you</strong>
          </p>
        </div>
         <div class="column is-narrow">
          <div id="carbon" class="box">
            HELLO
          </div>
        </div> 
      </div>
    </div>
  </div>
  
</section>