<div class="container">
  <nav class="navbar ">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/ironhelp-logo--green.png" alt="Ironhelp: a framework for documentation based on painful experiences" height="28">
      </a>

      <div class="navbar-burger burger" data-target="navMenuDocumentation">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuDocumentation" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item " href="/">
          Home
        </a>
      </div>
    </div>

    <div class="navbar-end">
      <% if (isUserLoggedIn) { %>
        <p class="navbar-item header-username">
          Hi <% if (currentUser.user.username) { %><%= currentUser.user.username.charAt(0).toUpperCase() %><%= currentUser.user.username.slice(1) %>!<% } else { %><%= currentUser.user.email %>!<%}%>
        </p>
        <a class="navbar-item" href="/profile">
          Profile
        </a>
        <% if (isUserAdmin) { %>
          <a class="navbar-item" href="/admin">
            Admin
          </a>
        <% } %>
      <% } else { %>
        <a class="navbar-item" href="/signup">
          Sign up
        </a>
      <% } %>
      <div class="navbar-item">
        <div class="field is-grouped">
          <% if (isUserLoggedIn) { %>
          <p class="control">
            <a class="button is-primary" href="/logout">
              <span class="icon">
                <i class="fa fa-sign-out"></i>
              </span>
              <span>Logout</span>
            </a>
          </p>
          <% } else { %>
          <p class="control">
            <a class="button is-primary" href="/login">
              <span class="icon">
                <i class="fa fa-sign-in"></i>
              </span>
              <span>Login</span>
            </a>
          </p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>

</div>