<article class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                <img src="<%= tool.imageUrl %>" alt="Image">
            </figure>
        </div>

        <div class="media-content">
            <div class="content">
                <strong><%= tool.name %></strong>
                <button class="button">Gotchas</button>
                <button class="button">Awesomes</button>
                <button class="button">Docs</button>
            </div>
        </div>

    </article>
</article>