<%
  function countContribs(posts, tool) {
 
    return posts
      .filter( post => String(post.tool) == String(tool._id))
      .length;
  }
%>

<a class="tool" href="/posts/tool/<%= tool._id %>">
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <h2 class="title is-8"><%= tool.name %></h2>
        <span><%= countContribs(posts, tool) %> contribution<%if (countContribs(posts, tool) > 1) { %>s<% } %></span>
      </div>
    </div>
  </div>
</div>
</a>