<h1>Choose a tool that's f-ing with you</h1>

<hr>

<div class="columns">
    <% tools.forEach( tool =>  { %>
  <div class="column">
    <%- include('./partials/tool', {tool}) %>
  </div>
<% }); %>

</div>




