
<h1>Posts</h1>

<!-- need conditional display of tool/category when present -->

<ul>
    <%posts.forEach( post => { %>
        <li>
            <%- include('./partials/post', {post}) %>
        </li>
        <% }); %>
</ul>