<%- include('../../partials/hero/admin') %>

<section class="section">
  <div class="container">
    <h1 class="title">Iron Help Users</h1>
    <h2 class="subtitle">Manage user data</h2>
    
    <hr>
    <div class="content">

      <a class="button is-link" href='/admin/user/new'>Add a new user</a>

        <% users.forEach( user => { %>

          <%- include('../../user/show', { user, onProfile: false }) %>

        <% }); %>
    </div>
  </div>
</section>