/*body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
.main {
	padding-top: 50px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

.container .text-muted {
	margin: 20px 0;
}

.login,
.signup {
	width: 380px;
	padding-top: 50px;
	margin: 0 auto;
}

.carret-right {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-left: 4px dashed;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}


/* ADMIN INTERFACE */

/* Navigation */
.navbar--yellow,
.navbar--yellow .nav { background-image: linear-gradient(to bottom,#fff 0,#ffdd57 100%); }

/* USER LIST */

.admin-user-list > li,
.admin-post-list > linearGradient { 
	margin: 20px 0;
}
.admin-user-list__delete,
.admin-post-list__delete {
	display: inline-block;
}

/* NEW USER */
#admin-user-new > label,
#admin-user-edit > label,
#user-edit > label { display: block; }

#admin-user-new > input,
#admin-user-edit > input,
#user-edit > input { margin-bottom: 20px; }

#admin-user-new > button,
#admin-user-edit > button,
#user-edit > button { display: block; }


/* SHOW USER */
.user-image { 
	width: 200px;
	height: 200px;
}

/* HOME PAGE */
.tools {
	height: 500px;
	overflow-y: auto;
}

/* POSTS */
.post {
	border: 2px solid rgb(3,203,162);
	padding: 20px;
	margin: 10px;
}

.post .expand {
	background-color: rgb(3,203,162);
	height: 50px;
	color: white;
	text-align: center;
}

.post .section {
	background-color: rgb(245,245,245);
	margin: 10px;
}

.post .icon {
	color: rgb(3,203,162);
}

.post .description .icon {
	color: white;
}