<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="title">
            Admin Center
          </p>
          <p class="subtitle">
            This is where you can manage <strong>everything</strong> from the Iron Help plateform!
          </p>
        </div>
         <div class="column is-narrow">
          <div id="carbon" class="box">
            <img style="display: block;" src="/images/ironhelp-initials.png" height="50" alt="Iron Help">
          </div>
        </div> 
      </div>
    </div>
  </div>  

  <div class="hero-foot">
    <div class="container">
      <nav class="tabs is-boxed">
        <ul>
          <li class="is-active">
            <a href="/admin/users">Users</a>
          </li>
          <li>
            <a href="/admin/posts">Posts</a>
          </li>
          <li>
            <a href="/admin/tools">Tools</a>
          </li>
          <li>
            <a href="/admin/categories">Categories</a>
          </li>
        </ul>
      </nav></div>
    </div>

</section>