<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="title"  style="color:gray">
            What's <span>
              f
              <span style="color:#ff3860">*</span>
              <span style="color:#23d160">*</span>
              <span style="color:#3273dc">*</span>
              ing</span> with you?
          </p>
          <p class="subtitle">
            The community is here to build the best reference material for developer tools on the internet, together.
          </p>
        </div>
      </div>
    </div>
  </div>  
</section>