<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="title"  style="color:gray">
            What's <span>
              f
              <span style="color:red">*</span>
              <span style="color:blue">*</span>
              <span style="color:green">*</span>
              ing</span> with you?
          </p>
          <p class="subtitle">
            The community is here to help you.
          </p>
        </div>
      </div>
    </div>
  </div>  
</section>