<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="title">
            What's <span class="home__subtitle--green">f-ing</span> with you?
          </p>
          <p class="subtitle">
            The community is here to help you.
          </p>
        </div>
      </div>
    </div>
  </div>  
</section>