<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="title">
            Iron Helper Center
          </p>
          <p class="subtitle">
            This is your space where you can do a few things.
            <br>
            You can basically <strong>edit your profile</strong> and <strong>manage your posts</strong>!
          </p>
        </div>
         <div class="column is-narrow">
          <div id="carbon" class="box">
            <img style="display: block;" src="/images/ironhelp-initials.png" height="50" alt="Iron Help">
          </div>
        </div> 
      </div>
    </div>
  </div>  

  <div class="hero-foot">
    <div class="container">
      <nav class="tabs is-boxed">
        <ul id="tab-list">
          <li :class="getTabClasses('profile')">
            <a href="/profile">Profile</a>
          </li>
          <li :class="getTabClasses('posts')">
            <a href="/profile/posts">Posts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</section>

<script>
    new Vue({
        el: '#tab-list',
        data: {},
        methods: {

            getTabClasses: function (type) {

                let tabClasses = [];

                if (location.href.indexOf(`/${type}`) > -1) {
                    tabClasses = ['is-active'];
                }

                return tabClasses;
            }
        },

    })

</script>